/* стили для index.html */

/* tagline */
.tagline {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
}

.tagline .title {
  margin: 0 auto 30px auto;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.button-primary {
  padding: 10px 32px;

  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  text-align: center;
  line-height: 1.87;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
}

/* features */

.features {
  padding: 94px 0;
}

.features .list {
  display: flex;
}

.features .properties:not(:last-child) {
  margin-right: 30px;
}

.features .properties {
  width: 270px;
}

.features .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* activity */

.activity {
  padding-bottom: 94px;
}

.activity .list {
  display: flex;
}

.activity .item:not(:last-child) {
  margin-right: 30px;
}

.activity .title,
.team .title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.team .list {
  display: flex;
}

.cards:not(:last-child) {
  margin-right: 30px;
}

.cards {
  background-color: var(--white-color);
  width: 270px;
  min-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .employee {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
}

.team .profession {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

/* button */

.button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--button-bg-color);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Стили для portfolio.html */

.portfolio {
  padding: 94px 0;
}

.filters {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;
}

.projects {
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;
  min-height: 404px;
  border: 1px solid #eeeeee;
}

.projects:nth-child(3n) {
  margin-right: 0;
}

.projects:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects:hover,
.projects:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.portfolio .text {
  padding: 20px 24px;
}

.filters .btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio .title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio .type {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}